@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lobster&family=Merriweather:wght@900&display=swap');

:root {
    --clr-black: black;
    --clr-gray: gray;
    --clr-white: white;

    --type-normal: #A8A77A;
    --type-fire: #EE8130;
    --type-water: #6390F0;
    --type-electric: #F7D02C;
    --type-grass: #7AC74C;
    --type-ice: #96D9D6;
    --type-fighting: #C22E28;
    --type-poison: #A33EA1;
    --type-ground: #E2BF65;
    --type-flying: #A98FF3;
    --type-psychic: #F95587;
    --type-bug: #A6B91A;
    --type-rock: #B6A136;
    --type-ghost: #735797;
    --type-dragon: #6F35FC;
    --type-dark: #705746;
    --type-steel:#B7B7CE;
    --type-fairy: #D685AD;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Merriweather', serif;
}

#normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

#fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

#water {
    background-color: var(--type-water);
    color: var(--clr-black);
}

#electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}


#grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}


#ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}


#fighting {
    background-color: var(--type-fighting);
    color: var(--clr-black);
}


#poison {
    background-color: var(--type-poison);
    color: var(--clr-black);
}


#ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}


#flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}


#psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}


#bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}


#rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}


#ghost {
    background-color: var(--type-ghost);
    color: var(--clr-black);
}


#dragon {
    background-color: var(--type-dragon);
    color: var(--clr-black);
}


#dark {
    background-color: var(--type-dark);
    color: var(--clr-black);
}


#steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}


#fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}
